.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.login-bg{
background-image: url(../img/bg-5.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.backgroundForm{
background-image: url(../img/backgroundlogin.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;

}



