.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .main-background{
    background: #EFEFEF;
  }

  .table-header{
    background-color:#A1A6CE ;
  }

  .add-btn{
    background: #8c92c5ca;
    color: rgb(255, 255, 255);
  }