.item-hover a {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: .25s all ease-in-out;
}

.item-hover li a:hover {
    padding: 8px;
    background: rgb(179, 175, 221);
    /* border-top-left-radius:15px ; */
    /* text-align: center; */
}
/* url(../img/doctors.jpg); */
.background {
    background-image:linear-gradient(45deg, rgba(3, 9, 22, 0.602) 0%,rgba(162, 120, 182, 0.685) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background: none;
    padding: 4px;
    border: 3px solid #929cc5;
    
}

 .sidebar-header {
    padding: 30px 20px;
}

.sidebar-header h1, nav#sidebar .sidebar-header p {
    margin-bottom: 0;
}

.sidebar-header h1 {
    color: #8a8d93;
}

.sidebar-header p {
    font-size: 0.9rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
}

.sidebar-shadow{
    box-shadow:3px 3px 5px 6px #ccc;
}


.accordion-button{
    padding: 8px;
    transition: .25s all ease-in-out;
    background: #2A2639;
    border: none;
  }
.accordion-button:hover{
    padding: 8px;
    background: rgb(179, 175, 221);
}

  .accordion-body{
    padding: 8px;
    background: #2A2639;
  }

  .accordion-body:hover{
    padding: 8px;
    background: rgb(179, 175, 221);
  }

